*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

body{
    height: 100vh;
    background: radial-gradient(circle 125vh at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.header{
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem ;
    border: 3px solid hsl(217, 16%, 45%);;
    border-radius: 10px;
    margin-top: 3rem;
}

.scorecounter{
    background-color: rgb(231, 232, 233);
    width:22%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
   
}

.score{
    font-size:1.4rem ;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: 700;
}

.scorenumber{
    font-size: 4.8rem;
    font-weight: 700;
    color: rgb(96, 110, 133);
}

.selectbutton{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    margin-bottom: 1rem;
}

/* .selectingbg{
    width: 30rem;
 transform: translate(-50%,-50%);

} */

.shape{
    width: 6rem;
}
.handshape{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    cursor: pointer;
}

.rock{
    border: 20px solid rgb(233, 45, 76);
    box-shadow: 0 8px #a90f2b, inset 0 8px #cad5d6;
    position: absolute;
    bottom: -17px;

}
.paper{
    border: 20px solid rgb(82, 85, 255);
    box-shadow: 0 8px #180d92, inset 0 8px #cad5d6;
    position: absolute;
    top: -73px;
    left: -61px;
}
.scissors{
    border: 20px solid rgb(233, 202, 45);
    box-shadow: 0 8px #a9920f, inset 0 8px #cad5d6;
    position: absolute;
    top: -73px;
    right: -61px;
}
.btnGame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 4rem;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 3rem;
}


.rules,
.mode {
    display: inline;
    border: 2px solid hsl(217, 16%, 45%);
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 6px;
    cursor: pointer;
}
